{% extends "admin/base.html" %}
{% load static %}

{% block title %}SEGPRO SST - Painel Administrativo{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
  <div id="branding" class="segpro-branding">
    <img src="{% static 'admin/img/logotipo.png' %}" alt="SEGPRO SST" class="segpro-logo">
    <h1 id="site-name">Painel Administrativo SEGPRO SST</h1>
  </div>
{% endblock %}

{% block welcome-msg %}
  <div class="segpro-welcome">
    <p>Olá, {{ request.user.first_name|default:request.user.username }}! Bem-vindo(a) ao sistema.</p>
  </div>
{% endblock %}

{% block nav-global %}{# Remove o alternar tema e outros links inúteis #}{% endblock %}
